<persistence>
    <persistence-unit name="section_4_1">
        <properties>
            <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/section4"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
        </properties>
        <class>com.github.wkennedy.entity.AddressEntity</class>
        <class>com.github.wkennedy.entity.PersonEntity</class>
    </persistence-unit>
</persistence>
